# Ignore the virtual environment folder
venv/
.venv/
env/

# Ignore Python cache files
__pycache__/
*.pyc

# Ignore Python packaging metadata
firm_lens.egg-info/
*.egg-info/

# Untrack the .DS_Store file from Git's memory
git rm --cached .DS_Store.DS_Store
firm_lens/.DS_Store
