# Ignore the virtual environment folder
venv/
.venv/
env/

# Ignore Python cache files
__pycache__/
*.pyc

# Ignore Python packaging metadata
firm_lens.egg-info/
*.egg-info/
build/
dist/

# Ignore Local OS Metadata junk
.DS_Store
firm_lens/.DS_Store

# Ignore Local IDE / Tool configurations
.vscode/
.idea/
.aider*
